footer {
    background-color: #000;
    width: 100%;
}

.rodape {
    padding: 60px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.rodape img {
    width: 100px;
}

.rodape-dois {
    padding: 22px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.rodape-dois a {
    text-decoration: none;
    color: aqua;
}

/* Media Queries */
@media (max-width: 768px) {
    .rodape {
        flex-direction: column;
    }

    .rodape div {
        margin: 20px 0;
        text-align: center;
    }

    .rodape div p,
    .rodape h3 {
        margin: 0px
    }
}