header {
    top: 0;
    padding: 10px 20px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #f9db79;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.topo img {
    height: 60px;
    width: auto;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.link:nth-child(even) {
    margin: 0 3em;
}

/* Media Queries */

@media (max-width: 425px) {
    .topo {
        flex-direction: column;
    }

    .topo nav {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid grey;
    }
}